.mainBlock{
    display: block;
    background-color: #ffffff;
}

.main_img {
    width: 100%;
    height: 25vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px 0 0 0 ;
}

.main_img img {
    width: 100%;
    margin: 10px;
}

.nameSpanBack{
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 3px black;
}

.userItems{
    width: 100%;
    
}

.prof_img_prof_description {
    display: flex;
    float: left;

}

.main_user_img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    margin: 30px;
    border-radius: 50%;

}

.main_user_img img {
    width: 150px;
    height: 150px;
}

.main_user_description{
    margin-top: 10px;
    margin-bottom: 10px;

}
.startChattingButton{
    cursor: pointer;
    margin: 30px;
    font-size: 130%;
    font-weight: 500;
    border: black solid 1px;
}

.my_posts{
    margin: 30px;
    font-size: 130%;
    font-weight: 500;
}

.new_post{
    margin: 30px;
    margin-bottom: 3px;
}

.new_post input{
    width: 30%;
    height: 30px;
}

.new_post button{
    width: 8%;
    height: 36px;
    background-color: #FFDE80;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
}

.new_post_span{
    margin-left: 30px;
    color: rgba(255, 0, 0, 0);
}

.new_post_span_active{
    margin-left: 30px;
    color: rgba(255, 0, 0, 1);
}

.name_jobStatus{
    display: flex;
}

.jobState{
    margin-left: 35px;
    width: 65%;
    height: auto;

}

.jobState img{
    width: 20%;
    height: 100%;
    
}

.jobState span{
    
   
}

.contacts{
    position: absolute;
    float: right;
    margin: 5px;

    right: 0;
}


.contacts span{
    font-size: 120%;
    margin-left: 20px;
    font-weight: 500;
}

.prof_img_prof_descriptionAndContacts{

    display: flex;
    position: relative;
}

.one_post{
    margin-left: 30px;
}

.jobImg_jobDesc{
    
    
}