.prof_img_prof_description {
    display: flex;
}

.main_user_img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px;
    border-radius: 50%;
}

.main_user_img img {
    min-height: 100%;
    
}

.main_user_description{
    margin-top: 10px;
}