.nav {
    margin-top: 1%;
    width: 19%;
    height: 88%;
    background-color: #ffffff;
    z-index: 2;
    float: left;
    font-size: 150%;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(153, 153, 153);
}

.item {
    position: relative;
    height: 10%;
    text-align: center;
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.6);
}

.item span{
    top: 50%;
    position: relative; 
}
.item span:hover{
    color: rgba(0, 0, 0, 1);
}

.itemDisabled{
    color: rgba(0, 0, 0, 0.2);
}
.itemDisabled:hover{
    color: rgba(0, 0, 0, 0.2);
}

.item a{
    text-decoration: none;
}

a.active{
    top: 50%;
    color: rgba(0, 0, 0, 1);
    
}